@import "tailwindcss";

/* Importación de archivos base */
@import "../styles/base/variables.css";
@import "../styles/base/typography.css";
@import "../styles/base/reset.css";

/* Importación de componentes */
@import "../styles/components/buttons.css";

/* Importación de utilidades */
@import "../styles/utilities/form.css";

/* Estilos globales adicionales */
body {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
